* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins", sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

header {
  position: sticky;
  top: 0;
  background-color: #fff;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
  padding: 20px;
  max-width: 1400px;
  margin: auto;
}

aside {
  background-color: #fff;
  padding: 50px;
  border-radius: 8px;
  height: fit-content;
}

aside ul {

  list-style: none;
  cursor: pointer;
}

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

article {
  cursor: pointer;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

article h2 {
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #222;
}

article p {
  font-size: 0.95rem;
  color: #555;
}

article.featured {
  grid-column: span 4;
}

footer {
  margin-top: 40px;
  text-align: center;
  padding: 20px;
  background: #333;
  color: #fff;
}

/* response */
