* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f4f4f4;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: #f4f4f4;
  color: white;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #00adb5;
}

.todo-container {
  max-width: 600px;

  margin: 3rem auto;
  padding: 2rem;
  border-radius: 12px;
}

.todo-container h2 {
  margin-bottom: 1rem;
  color: #333;
  text-align: center;
}

.todo-input-section {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
  width: 600px;
}

.todo-input-section input {
  flex: 1;
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.todo-input-section button {
  padding: 0.8rem 1.2rem;
  background-color: black;
  border: none;
  color: white;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
}

.todo-input-section button:hover {
  background-color: #007d85;
}

#todoList {
  list-style: none;
  padding: 0;
}

#todoList li {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  align-items: center;
  padding: 0.8rem 1rem;
  border-radius: 8px;
  margin-bottom: 0.6rem;

}


.delete-btn {
  background-color: #ff4d4d;
  border: none;
  color: white;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9rem;
}

.delete-btn:hover {
  background-color: #cc0000;
}

@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    align-items: flex-end;
  }

  .todo-container {
    margin: 2rem 1rem;
  }
}
