.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: black;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.load-button {
  background-color: black;
  color: white;
  border: none;
  padding: 15px 20px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
}

.load-button:hover {
  background-color: #0ea5e9;
}
